/target/
.idea/
/logfile.log
/src/test/test.iml
/csop-automation-api/csop-automation-api.iml
/csop-automation-ui/csop-automation-ui.iml
csop-automation.iml
/csop-automation-ui/target
/csop-automation-api/target
